#game {
    float: left;
}
#scoreBoard {
    text-align: left;
    background-color: #ddd;
    font-size: 18px;
    font-weight: bold;
    margin-left: 4px;
    padding: 5px;
    float: left;
    border: 2px solid #444;
    border-radius: 10px;
}
#maxScoreValue {
    text-align: right;
}
#currentScoreValue {
    text-align: right;
}